.tamaño-imagen{
    /* 
    previously:
        width: 200px
        height:120px 
    */
    width: 300px;
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px ;
}

.links:hover .figcaption{
    color: black;
}

.padre{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.nav{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.links{
    margin: 15px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: color 0s ease;
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.links:hover{
    transform: translateY(-15px);
    transition: all 0.35s;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}

.links:not(:hover){
  transform: translateY(0px);
  transition: all 0.35s;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.title{
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.4);
}

/* FOOTER */

.footer-basic {
    padding:20px 0;
    background-color:#ffffff;
    color:#4b4c4d;
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.4);
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color:black !important;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:2;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(131, 131, 131);
    margin-bottom:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    transform: scale(1.2);
    color: white !important;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #2759c7;
    color: white;
    border-radius:50%
  }
  
  /* Twitter */
  .fa-twitter {
    background: #419ee6;
    color: white;
    border-radius:50%
  }

  .fa-google {
    background: #dd4b39;
    color: white;
    border-radius:50%
  }

  .fa-instagram {
    background: #7d49cf;
    color: white;
    border-radius:50%;
  }